certifi==2026.7.22 ; python_version >= "3.12"
charset-normalizer==3.5.1 ; python_version >= "3.12"
contourpy==1.4.0 ; python_version >= "3.12"
cycler==0.12.1 ; python_version >= "3.12"
fonttools==4.65.0 ; python_version >= "3.12"
idna==3.20 ; python_version >= "3.12"
kiwisolver==1.5.1 ; python_version >= "3.12"
matplotlib==3.11.2 ; python_version >= "3.12"
numpy==2.5.3 ; python_version >= "3.12"
packaging==26.3 ; python_version >= "3.12"
pandas==3.0.6 ; python_version >= "3.12"
pillow==12.3.0 ; python_version >= "3.12"
pyparsing==3.3.3 ; python_version >= "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.12"
requests==2.34.2 ; python_version >= "3.12"
six==1.17.0 ; python_version >= "3.12"
tzdata==2026.4 ; python_version >= "3.12" and (sys_platform == "win32" or sys_platform == "emscripten")
urllib3==2.8.0 ; python_version >= "3.12"
